.container {
    border: 5px solid #ffcc5c;
    display: flex;
}

.home {
    /* 
    flex-shrink: 1; */
    flex-grow: 0; /*decides how much the rest width will be distributed*/
    flex-shrink: 5;
    flex-basis: 200px; /*Set the base width of an element*/
}

.logout {
    
    /* 
    flex-shrink: 1; */
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 200px;

}

